:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* New Stuff */

.display-container{
  display: flex;
  flex-direction: column;

}

.nav-bar{
 position: fixed;
 left: 0;
 top: 0;
  display: flex;
  flex-direction: row;
  width: 100vw;

  justify-content: space-between;
  background-color: #ffffff;
  border: 1px solid black;
 

}

.ghost-nav-bar{
  left: 0;
 top: 0;
  display: flex;
  flex-direction: row;
  width: 100vw;

  color: #ffffff00;
  background-color:#ffffff00 ;


  border: 1px solid black;
}

.nav-bar-logo{
  display: flex;
  flex-direction: row;
  padding: 0 5vw;
}
.nav-bar-links{
  display: flex;
  flex-direction: row;
  padding: 0 5vw;
}
.nav-bar-link-element{
  padding: 0 2vw;
  cursor: pointer;
}

.nav-bar-link-element:hover{
  background-color: #1a1a1a;
  color: white;
}

.content-container{
  width: 100vw;
  height: 100vh;
  display: flex;

  flex-direction: row;
}

.main-column{
  width: 70vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.gutter{
 background-color: yellow;
  border: 1px solid black;
  width: 15vw;
  display: flex;
  flex-direction: column;
}

/* Home Page */
.home-page-head-area{
  display: flex;
  flex-direction: column;
  padding: 4vh 2vh;
  border: 1px solid black;

}

.home-page-news-area{
  display: flex;
  flex-direction: row;
 justify-content: center;
  border: 1px solid black;
  
  
}

.large-news-area{
  display: flex;
  flex-direction: column;
  margin: 1vh;
  border: 1px solid black;
  align-items: center;
  justify-content: flex-end;
  flex: 1.5;
}

.large-news-area img{
  background-color: black;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.large-news-area h3{
  background-color: yellow;
}

.small-news-area{
  display: flex;
  flex-direction: column;
  margin: 1vh;
  border: 1px solid black;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
}

.small-news-area img{
  background-color: black;
  width: 100%;
  height: auto;
  object-fit: contain;
}
.small-news-area h3{
  background-color: yellow;
}