:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  /*color: #535bf2;*/
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
   /* color: #747bff;*/
  }
  button {
    background-color: #f9f9f9;
  }
}

/* New Stuff */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.link-style{
  margin: 0;
  padding: 0;
  color: black;
}

.display-container{
  display: flex;
  flex-direction: column;

}

/* NavBar */

.nav-bar{
 position: fixed;
 left: 0;
 top: 0;
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 60px;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  border-bottom: 1px solid black;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  z-index: 99;
 

}

.ghost-nav-bar{
  left: 0;
 top: 0;
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 60px;
  align-items: center;
  color: #ffffff00;
  background-color:#ffffff00 ;



}

.nav-bar-logo{
  display: flex;
  flex-direction: row;
  padding: 0 1vw 0 5vw;

}


/* Logo Resize */
@media only screen and (min-width: 1330px){
  .logo-full{
    display: block;
  }
  
  .logo-short{
    display: none;
  }

}


@media only screen and (max-width: 1330px){
  .logo-full{
    display: none;
  }
  
  .logo-short{
    display: block;
  }

}

.nav-bar-links{
  display: flex;
  flex-direction: row;
  padding: 0 1vw 0 5vw;
  height: 100%;
  
}


.nav-bar-link-element{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 2vw;
  cursor: pointer;
  height: 100%;

  
}



.nav-bar-link:hover{
  background-color: #1a1a1a;
  color: white;

}

.nav-bar-link-element a{
  font-weight: bold;
  height: 100%;

}


.nav-bar-link-element a:hover{

  color: wheat;
}

/* NavBar links responsive display */


@media only screen and (max-width: 1000px){
  .nav-bar-links{
    display: none;
  }

}




.content-container{
  width: 100vw;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.main-column{
  width: 70vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.gutter{


  width: 15vw;
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 910px){
  .gutter{

    display: none;

  }

}

/*******************************************************/
/* Home Page */

/* Head - News Area */

.home-page-head-area{
  display: flex;
  flex-direction: column;
  padding: 4vh 2vh;
  width: 80%;
  border-bottom: 1px dashed black;

}



.home-page-news-area{
  display: flex;
  flex-direction: row;
 justify-content: center;
  
  z-index: 1;
  
}

.large-news-area{
  display: flex;
  flex-direction: column;
  flex: 1.8;
}

.small-news-area{
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
}

.large-news-area > .news-preview{
  display: flex;
  flex-direction: column;
  margin: 1vh;
  
  align-items: center;
  justify-content: flex-end;

}

.large-news-area img{
  background-color: black;
  width: 100%;
  margin: 0;
  object-fit: cover;
}

.large-news-area h3{
  /*background-color: yellow;*/
  width: 100%;
  text-align: center;
  margin: 0;
}

.small-news-area{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.small-news-area > .news-preview{
  display: flex;
  flex-direction: column;
  margin: 1vh;

  align-items: center;
  justify-content: flex-end;
  
}

.small-news-area img{
  background-color: black;
  width: 100%;
  height: auto;
  object-fit: cover;
}
.small-news-area h3{
  /*background-color: yellow;*/
  width: 100%;
  text-align: center;
  margin: 0;
}

.small-news-header{
  height: 10%;
  /*background-color: yellow;*/
  display: flex;
  flex-direction: row;
  align-items: center;

  
}

.small-news-footer
{
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 5px;
  background-color: black;
  color: white;
  margin: 2vh;
  padding: 1vh;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: transform 0.3s ease-in-out;
}

.small-news-footer:hover{
  cursor: pointer;

  transform: translateX(10px);
  transition: transform ease-out 0.05s;
  
}

.news-preview{
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: transform ease-out 0.3s;
}

.news-preview img {

  display: block;
}

.news-preview:hover{
  cursor: pointer;
  transform: scale(102%);
  transition: transform ease-out 0.05s;

}


.news-preview h3{
  border-radius: 5px 5px 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: black;
  color: white;
  padding: 0.5em 0.5em;
  margin: 0;
}

.news-preview p{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  padding: 2vh 1vw 4vh 1vw;

}

/*******************************************************/
/* Home Mid Area */

.home-page-mid-area{
  display: flex;
  flex-direction: column;
  border-bottom: 1px dashed black;

  padding: 4vh 2vh;
  width: 80%;
}

.mid-area-columns{
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}

.home-page-mid-title{
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 2vh 1vw 3vh 1vw;
}

/*******************************************************/
/* Column Banner */

.column-banner{
  display: flex;
  flex-direction: column;
  text-align: center;
  width: fit-content;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: 1vw;
  transition: transform ease-out 0.3s;
  border-radius: 5px;
}

.column-banner:hover{
  cursor: pointer;
  transform: scale(102%);
  transition: transform ease-out 0.05s;
}

.column-banner img{
  display: block;
  object-fit: cover;
  overflow: hidden;
  width: 100%;
  height: auto;
  
}

.column-banner h3{
  border-radius: 5px 5px 0 0;
  background-color: black;
  margin: 0;
  padding: 1vh;
  color: #FFF;
}

.column-banner h3::before,
.column-banner h3::after{
  content: '"';

}

.column-banner h4,
.column-banner h5{
  padding: 0;
  margin: 0;
}
.preview-athlete-title{
  text-align: center;
  background-color: black;
  margin: 0;
  padding: 1vh;
  color: #FFF;
}

.column-banner p{
  padding: 2vh 1vh 3vh 1vh;
  margin: 0;
  text-align: center;
}

.column-banner p::before,
.column-banner p::after{
  content: '"';
  font-weight: bolder;
  padding: 1vh;
}

.analysis-footer{

  display: flex;
  flex-direction: row;
  align-self: center;
  align-items: center;
  justify-self: flex-end;
  border-radius: 5px;
  background-color: black;
  color: white;
  margin: 3vh;
  padding: 1vh;
  max-width: 300px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: transform 0.3s ease-in-out;
}

.analysis-footer:hover{
  
  cursor: pointer;

  transform: translateX(10px);
  transition: transform ease-out 0.05s;
}

.analysis-footer h3{
  margin: 0;
  padding: 0.5em 2em;

}

.analysis-footer svg{
  margin: 0;
  padding: 0 0.5vw 0 0;
}

.arrow-link-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.arrow-link-container a{
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*******************************************************/
/* Articles Page */

.article-page-head h3{
  background-color: black;
  color: white;
  padding: 1vh 1vw;
  border-radius: 5px;
  margin: 2vh 1vw 2vh 1vw;
}

.articles-page{
  display: flex;
  flex-direction: row;
}
.article-left-column{
  width: 75%;
  
}

.article-right-column{
  width: 25%;
  margin-left: 1vw;
  border-left: 1px dashed black;
  align-items: center;
}

/* Left Column */
.article{
  
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: 1vh 1vw 5vh 1vw;
}

.article-title{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 5px 5px 0 0;
  background-color: black;
  color: white;
  width: 100%;
  padding: 1.5vh 1vw;
}

.article-head-image{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3vh 4vw;
  
}

.article-publish-date{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 1vw;
  margin-left: 70%;
  transform: translateY(-40px);
  background-color: black;

  color: white;
}
.article-text{
  padding: 1vh 2em;
}

.article-author{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1vh 1vw;
  margin: 2vh 0 2vh 70% ;
  background-color: black;

  color: white;
}

/* Right Column */

.article-list-title{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 4vh 2vw 2vh 2vw;

}

.article-list{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1vh 2vw;
  
}

.article-list-element{
  padding: 1vh 0;
}

/*******************************************************/
/* Coaching Page */

/*******************************************************/
/* Coaching Page Top */

.coaching-page-head-area{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 3vh 1vw 1vh 1vw;
}

.coaching-page-title{
  background-color: black;
  color: white;
  padding: 1vh 1vw;
  border-radius: 5px;
  margin: 1vh 1vw 0vh 1vw;
}

.coaching-page-head-instructions{
  margin: 3vh 1vw 0vh 1vw;
  padding: 1vh;
  display: flex;
  flex-direction: column;
  border: 1px dashed black;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;


}

.instruction-top,
.instruction-middle,
.instruction-bottom,
.instruction-end{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0.2vw 2vh;
  padding: 0.5vw 1vw;
  color: black;
}

.instruction-top h2{
  margin: 1vh 0;
  background-color: black;
  color: white;
  padding: 1vh 1vw;
  border-radius: 5px;
}

.instruction-bottom{
  margin-bottom: 0vh;
}

.instruction-bottom ul{
  padding: 1vh;
}

/*******************************************************/
/* Coaching Page Middle */

.coaching-page-mid-area{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 4vh;
  width: 100%;
  border-bottom: 1px dashed black;
}

.coaching-page-mid-title{

  text-align: center;
  margin-bottom: 3vh;
}

.coaching-page-athlete-profile-flex{

  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;


}

.coaching-page-athlete-profile-grid{

  display: grid;
  width: 100%;
  max-width: 1200px;
  justify-content: center; /* centers items horizontally */
  align-items: center; /* centers items vertically */
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px; /* Adjust the gap as needed */

}

@media only screen and (max-width: 600px) {
  .coaching-page-athlete-profile-grid{

    display: flex;
    flex-direction: column;
    justify-content: center;
  
  
  }
}

.athlete-banner{
  display: flex;
  flex-direction: column;
  text-align: center;
  height: fit-content;
  max-width: 300px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: 1vw;
  transition: transform ease-out 0.3s;
  border-radius: 5px;
  background-color: black;
  
}

.athlete-banner:hover{
  transform: scale(102%);
  transition: transform ease-out 0.05s;
}

.athlete-profile{
  
  display: flex;
  flex-direction: column;

  align-items: center;
  width: fit-content;
}

.athlete-profile-banner{
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  
}
.athlete-title{
  color: white;
  padding: 0.5vw;
  border-radius: 5px 5px 0 0;
}

.athlete-profile-banner h4{
  background-color: black;
  color: white;
  padding: 1vh;
  
  
}

.athlete-banner-bottom{
  border-radius: 0 0 5px 5px;
}

.athlete-see-more-button{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 1vh 0 4vh 0;
}

.athlete-see-more-button button{
  background-color: black;
  color: white;
  width: fit-content;
  transition: transform ease-out 0.1s;
}

.athlete-see-more-button button:hover{
  transform: scale(104%);
  transition: transform ease-out 0.05s;
}

/*Coaching Page Bottom */

.example-analysis-exerpts{
  display: flex;
  flex-direction: column;
  
  align-items: center;
  justify-content: flex-end;
}

.example-analysis-exerpts h4{
  background-color: black;
  color: white;
  width: fit-content;
  padding: 1vh;
  border-radius: 5px;
  margin: 3vh 1vw 2vh;

}

/*******************************************************/
/* Text Sample Card */

.text-sample-card{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 5px;
  padding: 0 2vh 2vh 2vh;
  margin: 3vh 1vh;
  border: 1px dashed black;

}

.sample-card-name{
  display: flex;
  flex-direction: column;
  
  
  
}

.text-sample-text p{
  margin: 1vh;
}

.left{
  align-items: flex-start;
}
.right{
  align-items: flex-end;
}


.sample-card-name h5{
  background-color: black;
  color: white;
  width: fit-content;
  padding: 1vh;
  transform: translateY(-10px);
  border-radius: 5px;
}

/*******************************************************/
/* Footer */
.footer{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  width: 100vw;
  z-index: 89;
  height: fit-content;
  margin-top: 4vh;
}


.footer-left,
.footer-right{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: white;
  padding: 2vh;
}

.social-media{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.social-media svg{
  margin: 1vh;
}